@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-family: 'Montserrat', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-bg: #00182c;
    --color-nav: #02152B;
    --color-footer: #031B34;
    --color-btn: #EDA205; 
    --color-text: #fff; 

    /*
        padding => 3rem PC / 1.5rem Mobile
    */

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg); 
    color: var(--color-text);
}


a {
    text-decoration: none;
    color: unset; 
}

li {
    list-style: none;
}

.gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.gradient-bar {
    background:-moz-radial-gradient(circle at 2% 25%, rgba(0, 24, 44, 1) 0%, rgba(15, 62, 88, 1) 100%);
    background:-webkit-radial-gradient(circle at 2% 25%, rgba(0, 24, 44, 1) 0%, rgba(15, 62, 88, 1) 100%);
    background:-o-radial-gradient(circle at 2% 25%, rgba(0, 24, 44, 1) 0%, rgba(15, 62, 88, 1) 100%);
    background:-ms-radial-gradient(circle at 2% 25%, rgba(0, 24, 44, 1) 0%, rgba(15, 62, 88, 1) 100%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 2% 25%, rgba(0, 24, 44, 1) 0%, rgba(15, 62, 88, 1) 100%);
}

.scale {
    -webkit-transition-property: transform;
    /* Safari */
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-property: transform;
    transition-duration: 0.2s;
}

.scale:hover {
    transform: scale(0.95);
}

.rotate-scale-down {
    -webkit-animation: rotate-scale-down 0.65s linear both;
    animation: rotate-scale-down 0.65s linear both;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    color: var(--color-text);
}


.navbar-logo a {
    width: 100%; 
    height: 100%;
}

.navbar-logo a img {
    width: 4rem; 
    height: 100%;
}


.navbar-content .navbar-links {
    display: flex; 
    gap: 2rem;     
}

.navbar-item-content {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
}

.navbar-auth {
    display: flex; 
    gap: 2rem; 
}

.auth-btn {
    padding: 1rem;
    font-family: var(--font-family);
}

.login{
    font-size: 16px; 
}

.register {
    background-color: var(--color-btn);
    border-radius: 7px; 
    outline: none;
    border: none; 
    text-align: center;
    font-size: 18px;
}

.register:hover {
    box-shadow: 0 0 20px 0px rgba(235, 229, 229, 0.35);
}


.navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    display: none;
}

.navbar-mobile-icons {
    align-self: flex-end;
    display: flex;
    cursor: pointer;
}

.navbar-mobile-icons-close {
    display: none; 
}

.material-icons{
    font-size: 36px;
}

.navbar-mobile-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;

    position: absolute;
    min-width: 250px;
    margin-top: 1rem;
    margin-right: 5px;
    top: 40px; 
    right: 0; 
    
    border-radius: 7px;
    background-color: var(--color-nav);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

}

.navbar-mobile-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 0;
}

.navbar-mobile-auth {
    margin-bottom: 1.2rem;
}

/* MAIN BODY */
.header {
    padding: 1.5rem 3rem;
    display: flex; 
}

.header-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: var(--color-text);
    font-family: var(--font-family);

}


.header-content h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 75px;
    
}

.header-content p {
    font-size: 20px;
    line-height: 28px;

    margin-top: 1.5rem;
}

.header-content form {
    display: flex;
    width: 100%; 
    margin: 2rem 0;
}

.header-content form .header-input {
    flex: 2; 
    min-height: 4rem;

    padding: 0 1rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    outline: none;

    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    
}


.header-content form .header-btn {
    flex: 0.6; 
    width: 100%;
    min-height: 4rem;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    outline: none;

    background-color: var(--color-btn);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}


.header-image {
    flex: 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 100%;
    height: 100%
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column; 

    background-color: var(--color-footer);
    font-family: var(--font-family);
    color: var(--color-text);
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    padding: 2rem; 

    width: 50%;
    margin: 2rem auto;
    
    border-radius: 20px;

    background: var(--gradient-bar);
    color: var(--color-nav);

}

.newsletter p {
    font-size: 18px; 
}


.newsletter form {
    width: 100%;
    display: flex; 
}

.newsletter form .newsletter-input {
    flex: 2;
    min-height: 4rem;
    
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none; 
    outline: none;
    
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}


.newsletter form .newsletter-btn {
    flex: 0.6; 
    width: 100%; 
    min-height: 4rem;
    
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    outline: none;
    
    background-color: var(--color-footer);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}

.footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: start;
    gap: 2rem; 

    margin-top: 1rem;
    padding: 3rem;

}

.footer-logo {
    flex: 0.5; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-logo a img {
    width: 4rem;
}

.footer-logo p {
    font-size: 16px;
}

.footer-content {
    flex: 1; 
    display: flex; 
    justify-content: space-evenly;
}

.footer-links, 
.footer-quick_access {
    display: flex; 
    flex-direction: column;
    gap: 2rem;  
}

.copyright {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: .5rem;
    padding-bottom: .5rem;

    font-size: 12px;
    font-weight: 200; 
}

.copyright::before{
    content: "";
    height: 1px; 
    width: 25%;
    background-color: white;
}

@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        padding: 1.5rem;
    }

    .header-content h1 {
        font-size: 48px;   
    }

    .navbar-item-content {
        font-size: 20px;
    }

    .newsletter {
        width: 75%;
    }

    .newsletter h1 {
        font-size: 24px; 
    }

    .newsletter form .newsletter-input,
    .newsletter form .newsletter-btn {
        font-size: 14px; 
        font-weight: 400;
    }

}

@media screen and (max-width: 576px) {
    .header-content h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .header-content p {
        font-size: 18px;
        line-height: 24px; 
    }

    .header-content form .header-input {
        width: 80%; 
    }

    .navbar{
        justify-content: space-between;
    }

    .navbar-auth {
        display: none;
    }

    .navbar-content {
        display: none;
    }

    .navbar-item-content {
        font-size: 24px;
        font-weight: 600;
    }

    .navbar-mobile {
        display: flex;
    }

    .auth-btn {
        padding: .8rem;
    }

    .newsletter {
        width: 75%;
    }

    .newsletter h1{
        font-size: 36px;
    }

    .newsletter form{
        flex-direction: column;
        align-items: center;
        gap: 0.8rem; 
    }

    .newsletter form .newsletter-input,
    .newsletter form .newsletter-btn {
        font-size: 14px;
        font-weight: 400;
        min-height: 3rem;
        border-radius: 7px;
        
    }
    
    .newsletter form .newsletter-btn {
        width: 50%;
    }

    .footer {
        flex-direction: column;
        margin: 1.5 2rem;
        padding: 1.5rem;
    }

    .footer-logo {
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center; 
        gap: 2rem;
        padding-bottom: 1.5rem; 
    }
}



@-webkit-keyframes rotate-scale-down {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(0.5) rotateZ(180deg);
        transform: scale(0.5) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-down {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(0.5) rotateZ(180deg);
        transform: scale(0.5) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
